
<footer>

    <div class="footer">
        <div class="row">
            <a href="https://github.com/neptuniux"><i class="fa fa-github"></i></a>
        </div>

        <div class="row"><a href="https://github.com/neptuniux">My other projects</a>
        </div>

        <div class="row">
            Designed By: Daniel Borcard
        </div>

    </div>
</footer>

