
<footer>

    <div class="footer">
        <div class="row">
            <a href="#"><i class="fa fa-github"></i></a>
        </div>

        <div class="row"><a href="#">My other projects</a>
        </div>

        <div class="row">
            Designed By: Daniel Borcard
        </div>

    </div>
</footer>

