<div class="header">
    <h1>Typescript WebXR</h1>
    <details open>
        <summary>Demo Including Typescript, ThreeJS and Express</summary>
<p>
            The app is a simple Express server that serves a static HTML page. The HTML page loads a Typescript file that uses ThreeJS to display a 3D model in a browser.
        </p>
    </details>
</div>
